

<div class="splitcontent">
<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable Setting.welcome_text %>
  </div>
  <%= call_hook(:view_welcome_index_left) %>


  <% if @projects.any? %>
    <div class="splitcontentright">
      <% @projects.each do |projeto| %>
          <%= link_to(projeto.name, project_path(projeto), :class => projeto.css_classes + " nav-link active").html_safe %>
          <% trackers = projeto.rolled_up_trackers(Setting.display_subprojects_issues?).visible %>
          <% trackers.each do |tracker| %>
            <% if tracker.any? %>
              <%= link_to tracker.name, project_issues_path(projeto, :set_filter => 1, :tracker_id => tracker.id), :title => tracker.description %>
              <%= link_to @open_issues_by_tracker[tracker].to_i, project_issues_path(projeto, :set_filter => 1, :tracker_id => tracker.id) %>
              <%= link_to (@total_issues_by_tracker[tracker].to_i - @open_issues_by_tracker[tracker].to_i), project_issues_path(projeto, :set_filter => 1, :tracker_id => tracker.id, :status_id => 'c') %>
            <% end %>
          <% end %>

      <% end %>
    </div>
  <% end %>




  <% if @news.any? %>
    <div class="splitcontentright">
      <div class="news box">
      <h3><%=l(:label_news_latest)%></h3>
        <%= render :partial => 'news/news', :collection => @news %>
        <%= link_to l(:label_news_view_all), :controller => 'news' %>
      </div>
      <%= call_hook(:view_welcome_index_right) %>
    </div>
  <% end %>


<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.atom_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
</div>
